/* todo______________________Global-style_______________________________________ */
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --title-primary-color: #212121;
  --title-accent-color: #ffffff;
  --text-primary-color: #757575;
  --accent-color: #2196f3;
  --address-text-color: #ffffff99;
  --footer-bg-color: #2f303a;
  --hover-btn-color: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-primary-color);
  background-color: var(--primary-bg-color);
}

.link {
  text-decoration: none;
  color: var(--text-primary-color);
}

.link:hover,
.link:focus,
.link .logo-accent:hover,
.link .logo-accent:focus,
.header-link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.section-title {
  color: var(--title-primary-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.button{
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

/* todo______________________Global-style_______________________________________ */

/* *_____________________________ Header _____________________________*/

.header .logo-accent {
  color: #000000;
}

.header-link {
  color: var(--title-primary-color);
  font-weight: 500;
}

.header .contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* *_____________________________ Header _____________________________*/

/* *_____________________________ Big hero _____________________________*/
.hero {
  background-color: var(--footer-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-accent-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-accent-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-button:hover {
  background-color: var(--hover-btn-color);
}
/* *_____________________________ Big hero _____________________________*/

/* *_____________________________ Our advantages _____________________________*/

.advantages-item-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-primary-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantages-item-text {
  line-height: inherit;
  letter-spacing: 0.03em;
}
/* *_____________________________ Our advantages _____________________________*/

/* *_____________________________ Our services _____________________________*/

/* *_____________________________ Our services _____________________________*/

/* *_____________________________ Our team _____________________________*/

.section-team {
  background-color: var(--secondary-bg-color);
}

.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary-color);
}

.about-description {
  line-height: inherit;
  letter-spacing: 0.03em;
  text-align: center;
}

/* *_____________________________ Our team _____________________________*/

/* ! Page 2 */

/* *_____________________________ Portfolio _____________________________*/

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary-color);
  background-color: var(--secondary-bg-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--title-accent-color);
  background-color: var(--accent-color);
}

.description-title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-primary-color);
}

.description-text{
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* *_____________________________ Portfolio _____________________________*/

/* *_____________________________ Footer _____________________________*/
.footer {
  background-color: var(--footer-bg-color);
}
.map-link,
.footer .logo-accent {
  color: var(--title-accent-color);
}
.footer-addess {
  font-style: normal;
}
.footer-contacts-item {
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

/* *_____________________________ Footer _____________________________*/
